use flake

# GitHub Packages authentication for SBT
export GITHUB_ACTOR="$(gh api user -q .login)"

# GitHub Packages authentication for Mill
export MILL_SONATYPE_USERNAME="$(gh api user -q .login)"
export MILL_SONATYPE_PASSWORD="$(gh auth token)"
