use flake

# GitHub Packages authentication for SBT
export GITHUB_ACTOR="${GITHUB_USERNAME}"

# GitHub Packages authentication for Mill
export MILL_SONATYPE_USERNAME="${GITHUB_USERNAME}"
export MILL_SONATYPE_PASSWORD="${GITHUB_TOKEN}"
